<div id="scoreboard-container">
  <div class="game-over">Game Over!</div>
    <table class="scoreboard">
      <th colspan="2">High Scores</th>
      <!-- <% @high_scores.each do |score| %>
      <tr>
        <td><%= score.name %></td>
        <td><%= score.score %></td>
      </tr>
      <% end %> -->
    </table>

  <div class="user-score">
    Score:<span id="score"></span>
  </div>

  <%= render 'scoreboard_form' %>
</div>
<div class="restart">
  Restart?
</div>
