<div class="bg-image"></div>
<div class="phone-backdrop"></div>
<div id="main" class="container">
  <div class="landing press-start">press SPACE to start</div>
  <div class="landing game-title">CrappyBird!</div>
  <%= render "scoreboard" %>
  <canvas id="game-canvas"></canvas>
  <div class="errors"></div>
</div>
