<div class="bg-image"></div>
<div class="phone-backdrop"></div>
<div class="container">
  <canvas id="game-canvas"></canvas>
</div>
<div class="landing game-title">CrappyBird!</div>
<div class="landing press-start">press SPACE to start</div>
