/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

.bg-image {
   background: url('clouds.png') no-repeat center center fixed;
   background-size: cover;
   background-position: bottom center;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   right: 0;
 }

.phone-backdrop {
  position: absolute;
  height: 900px;
  width: 500px;
  left: 50%;
  top: 50%;
  margin-top: -450px;
  margin-left: -250px;
  background-image: url('phone.png');
  background-size: 100%;
  background-repeat: no-repeat;
}

.container {
  position: absolute;
  width: 432px;
  height: 644px;
  left: 50%;
  top: 50%;
  margin-top: -372px;
  margin-left: -217px;
}

footer {
  position: fixed;
  bottom: 0;
  padding: 3px;
  width: 100%;
  text-align: center;
  font: 10px sans-serif;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: rgb(59, 88, 88);
}

a {
  color: rgb(59, 88, 88);
  text-decoration: none;
}

.landing,
.scoreboard, .game-over,
.user-score, .restart,
input {
  position: absolute;
  border: 3px solid white;
  background-color: rgb(255, 92, 0);
  color: white;
  font-family: 'Press Start 2P';
  text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.71);
  text-align: center;
  box-shadow: 0px 10px 8px rgba(0, 0, 0, 0.71);
  outline: 6px solid black;
  line-height: 24px;
}

.game-title {
  letter-spacing: 3px;
  padding: 20px 10px;
  text-transform: uppercase;
  top: 60px;
  left: 50%;
  margin-left: -119px;
}

.press-start {
  padding: 10px;
  font-size: 10px;
  bottom: 120px;
  left: 50%;
  margin-left: -114px;
}

.press-start:hover {
  bottom: 118px;
  margin-top: 2px;
  box-shadow: 0px 7px 2px rgba(0, 0, 0, 0.91);
  cursor: pointer;
}

.scoreboard {
  width: 80%;
  height: 50%;
  top: 5%;
  left: 10%;
  padding: 20px;
  letter-spacing: 1px;
  margin: auto;
}

td {
  border: 3px solid;
}

.game-over {
  top: 5%;
  padding: 5px 0px 5px;
  width: 50%;
  left: 25%;
}

.restart {
  display: none;
  font-size: 12px;
  bottom: 10%;
  width: 30%;
  left: 35%;
  padding: 2px;
}

.user-score {
  text-align: left;
  width: 40%;
  left: 30%;
  bottom: 33%;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
}

.user-score span {
  float: right;
  padding-right: 18px;
}

#scoreboard-container {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
}

#score-form-container {
  display: none;
  width: 75%;
  margin: auto;
}

.restart:hover {
  cursor: pointer;
}

table tr:nth-child(even) {
  background-color: rgba(0,0,0, .5);
}

#input-name {
  height: 69px;
  width: 75%;
  margin: auto;
  bottom: 18%;
  font-size: 18px;
}

.errors {
  position: absolute;
  color: red;
  font-family: 'Press Start 2P';
  font-size: 8px;
  width: 100%;
  text-align: center;
  bottom: 0px;
}
