<!DOCTYPE html>
<html>
<head>
  <title>CrappyBird</title>
  <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer>© <a href="http://www.djc.space">David James Carter</a></footer>

</body>
</html>

<script>
  $(window).load(function () {
    var canvas = document.getElementById('game-canvas');
    var x = 432,
        y = 644;
    canvas.height = y;
    canvas.width = x;
    var ctx = canvas.getContext('2d');
    var gameView = new CrappyBird.GameView(ctx);
  });
</script>
