<!DOCTYPE html>
<html>
<head>
  <title>CrappyBird</title>
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link href='http://fonts.googleapis.com/css?family=Press+Start+2P' rel='stylesheet' type='text/css'>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

<footer>© <a href="http://www.djc.space">David James Carter</a></footer>

</body>
</html>

<script>
  $(window).load(function () {
    var canvas = document.getElementById('game-canvas');
    var x = 432,
        y = 644;
    canvas.width = x;
    canvas.height = y;
    var ctx = canvas.getContext('2d');

    ctx.font = '28px "Press Start 2P"';
    ctx.fillStyle = "white";
    ctx.textAlign = "center";
    ctx.lineWidth = 2;
    ctx.strokeStyle = "#3e2500";

    var options = {
      ctx: ctx,
      width: x,
      height: y
    };
    var gameView = new CrappyBird.GameView(ctx);
  });
</script>
